yoColor   = #148BC3
yoColor05 = #F2FDFF
yoGrey    = #777
yoGreen   = #4CAF50
shadow    = 0 1px 6px rgba(0,0,0,0.32);
shadowLight = 0px 1px 2px rgba(0,0,0,0.22);
whiteBackground = rgba(255,255,255,0.06);

.icon
	-webkit-mask-size: cover;
	mask-size: cover;
	outline: 0px;
	outline-width: 0px;
	mask-size: cover;
	-webkit-mask-size: cover;
	display: inline-block;
	transition: transform .4s, background-color 2s, opacity .4s;
	background-color #888B8C

.icon-ink
	-webkit-mask: url(../img/icons/ink.svg) no-repeat 50% 50%;
	-webkit-mask-size: 25px
	mask: url(../img/icons/ink.svg) no-repeat 100% 100%;
	width: 50px;
	height: 45px;

.icon-visits
	-webkit-mask: url(../img/icons/eye.svg) no-repeat 50% 50%;
	-webkit-mask-size: 40px
	mask: url(../img/icons/eye.svg) no-repeat 50% 50%;
	width: 80px;
	height: 40px;

.icon-followers
	-webkit-mask: url(../img/icons/followers.svg) no-repeat 50% 50%;
	-webkit-mask-size: 40px
	mask: url(../img/icons/followers.svg) no-repeat 50% 50%;
	width: 80px;
	height: 40px;
	transition: opacity .5s;

.icon-following
	-webkit-mask: url(../img/icons/star.svg) no-repeat 50% 50%;
	-webkit-mask-size: 30px
	mask: url(../img/icons/star.svg) no-repeat 50% 50%;
	width: 50px;
	height: 40px;
	// background-color #FFD600
	
.icon-menu
	-webkit-mask: url(../img/icons/menu.svg) no-repeat 50% 50%;
	-webkit-mask-size: 24px
	mask: url(../img/icons/menu.svg) no-repeat 50% 50%;
	width: 50px;
	height: 50px;
	cursor pointer
	background-color #808080
	transition: background-color .3s;
.icon-menu:hover
	background-color yoColor
	
.icon-remove
	-webkit-mask: url(../img/icons/delete_button.svg) no-repeat 50% 50%;
	-webkit-mask-size: 24px
	mask: url(../img/icons/delete_button.svg) no-repeat 50% 50%;
	width: 30px;
	height: 30px;
	cursor pointer
	background-color yoColor
	transition: background-color .3s;
.icon-menu:hover
	background-color yoColor
	
.icon-wrench
	-webkit-mask: url(../img/icons/wrench.svg) no-repeat 50% 50%;
	-webkit-mask-size: 34px
	mask: url(../img/icons/wrench.svg) no-repeat 50% 50%;
	width: 32px;
	height: 32px;
	cursor pointer
	transition: background-color .3s;